
body {
    font-family: Arial, Helvetica, sans-serif;
}

.common {
    position: absolute;
    background-color: pink;

}
/*Navigation*/
.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 50px;
    z-index: 1;
    background-color: pink;
}
/*Tableau (main body)*/

.mainbody {
    top: 62px;
    bottom: 62px;
    left: 5px;
    right: 5px;
    padding-right: 5px;
    z-index: 3;
}

/*Footer*/
.footer {
    bottom: 5px;
    height: 50px;
    right: 5px;
    left: 5px;
    font-size: 8px;
    color: #999999;
    text-align: center;
    position: fixed;
    z-index: 2;
}

.tableausize {
    width: 1000px;
    height: 700px;
    position: absolute;
}